<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="css/theme.css">
    {{#each page_css }}
        <link rel="stylesheet" href="css/{{this}}">
    {{/each}}
</head>
<body>
{{#if logged_in}}
    <div class="sidebar">
        {{> sidebar}}
    </div>
{{/if}}
<div class="content">
    {{#if logged_in}}
        {{> page}}
    {{else}}
        <div class="content_center">
            {{> page}}
        </div>
    {{/if}}
</div>
</body>
</html>